<home>
<!--    <div class="main" id="main1">
        <h3>Human</h3>
        <comparison each="{ window.human }"></comparison>

    </div>
    <div class="main">
        <h3>Generated→</h3>
        <comparison2 each="{ gen }"></comparison2>

    </div>
    <div class="main">
        <h3>Fixed</h3>
        <comparison each="{ window.fixed }"></comparison>
    </div>

    <div class="main">
        <h3>Fixed SQL</h3>
        <comparison3 each="{ window.fixed }"></comparison3>
    </div>

    <div class="main" id="main5">
        <h3>Fixed Tree</h3>
        <comparison4 each="{ window.fixed }"></comparison4>
    </div>-->
    <question each="{ window.everything }"></question>
</home>
<script>
    window.home = this;
</script>