<question>
<div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h3 class="my-0 font-weight-normal">Human Text</h3>
                </div>
                <div class="card-body">
                     <p class="card-text" id="humanText{ id }" contenteditable="{ id==0 }">
                         { human.text }
                    </p>
                     <div class="d-flex justify-content-between align-items-center">
                         <button class="btn btn-info btn-sm" id="unclear{ id }">Unclear</button>
                         <button id="load{ id }" class="btn btn-secondary btn-sm" onclick="load({ id })">Load</button>
                    </div>
                </div>
            </div>
        </div>
</div>


<div class="container">
    <div class="row">
        <div class="card-deck mb-3 text-center" style="margin-left: 5px;">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h3 class="my-0 font-weight-normal">Generated Text</h3>
                </div>
                    <div class="card-body">
                        <p class="card-text" id="generatedText{ id }" contenteditable="{ id==0 }">
                             { gen.text }
                        </p>
                    </div>
                    <div id="d-flex justify-content-between align-items-center">
                        <textarea class="fixinput" type="text" id="input{ id }" rows="3" placeholder="Ex: gender=>name;died=deceased"></textarea><br>
                           <!-- <button id="sem{ gen.id }" class="btn btn-primary btn-sm">Semantically correct</button> → -->
                        <button id="fix{ id }" class="btn btn-secondary btn-sm" onclick="fixit({ id })" style="margin: 0 118px 0 45%">Fix it</button>
                    </div>
            </div>

            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                      <h3 class="my-0 font-weight-normal">Generated SQL</h3>
                </div>
                <div class="card-body">
                    <p class="card-text sql" id="generatedSQL{ id }"></p>
                </div>
            </div>

            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                     <h3 class="my-0 font-weight-normal">Generated Tree</h3>
                </div>
                <div class="card-body">
                     <p class="tree" id="generatedTree{ id }"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="card-deck mb-3 text-center" style="margin-left: 5px;">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                     <h3 class="my-0 font-weight-normal">Fixed Text</h3>
                </div>
                <div class="card-body">
                    <p class="card-text" id="fixedText{ id }">
                        { fixed.text }
                    </p>
                </div>
            </div>

            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h3 class="my-0 font-weight-normal">Fixed SQL</h3>
                </div>
                 <div class="card-body">
                    <p class="card-text sql" id="fixedSQL{ id }">
                    </p>
                </div>
            </div>

            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h3 class="my-0 font-weight-normal">Fixed Tree</h3>
                </div>
                <div class="card-body">
                    <p class="tree" id="fixedTree{ id }">
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
    <hr style="height:5px;border-width:0;color:black;background-color:black;">
</question>
