@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");

#webtitle h1 {
    position: relative;
    max-width: 76%;
    display: block;
    color: white;
    height: 44px;
    margin: -11px auto 0;
}

#webtitle {
    margin-top: 21px;
    margin-left: initial;
    margin-right: auto;
}

#navbarResponsive {
    position: relative;
    margin-right: 49%;
}

#linktitle{
    margin-top: 29px;
}


/*body{
    width: 90%;
    position: relative;
    margin-left: auto;
    margin-right: auto;

}*/

aside{
    float: right;
    height: 90%;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    background: #aaaaaa;

    text-align: center;
    display: inline-block;
    position: relative;
    margin-top: 1.5em;
}

.main {
    float: left;
    height: 90%;
    width: 20%;
    background: #bababa;
    text-align: center;
    display: inline-block;
    position: relative;
    margin-top: 1.5em;
    border-radius: 1em;
}

#main1 {
    margin-left: 2%;
}

#main5 {
    width: 17%;
}

#about{
    width: 94%;
    margin-left: auto;
    position: relative;
    margin-top: 1.5em;
}

projects{
    align-content: center;
    display: inline-block;
    margin-top: 1.3em;
}

#lists button{
    width: 15em;
    color: black;
}
#newtitle{
    width: 15em;
}

#semanticInputButtons {
    position: absolute;
    top: 173px;
    margin: auto 32% 0 32%;
}

#list {
    padding: 1em;

    width: 90%;
    overflow-y: auto;
    margin: auto;
}

.tree {

}

.listitem span{
    margin:2px;
}
#datepicker{
    margin: auto;
    max-width: 237px;
}

#container{
    position: absolute;
    margin-left: 5%;
}
#mainContainer{
    overflow-x: hidden;
    overflow-y: auto;
}

.comparison{
    padding: 6px;
    border: 1px solid black;
    border-radius: 3px;
    width: auto;
    height: 10em;
    margin: 10px 10px 29%;
    margin-bottom: 150px;
    /*    margin: auto -50% 143px 50%;*/
    position: relative;
}

.comparisonTitle{
    margin-left: 90%;
    margin-right: -40%;
}

html,body{
    background-color: #bababa;
    padding: 0;
    margin: 0;
}
html{
    margin-top: -20px;
}
.highlight{
    color:red;
    font-size: 30px;
}
.highlight0{
    color:green;
}
.highlight1{
    color:purple;
}
.highlight2{
    color:magenta;
}
.highlight3{
    color:lime;
}
.highlight4{
    color:cyan;
}
.highlight5{
    color:blue;
}
.highlight6{
    color:pink;
}
.highlight7{

    color:orange;
}
.highlight8{
    color:#ccffcc;
}

.fixinput{
    width:300px;
}

.bad{
    color:red;
}

.correct{
    color:orange;
}
.sql{
    max-height: 600px;
    overflow-y: scroll;
}
.generatedText{
    color: green;
}
sum,filter,extractvalues,done,isempty,min,max,average,count{
    color: black;
}






/*graph*/
.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.node text {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.scrolleverything *{
    overflow: scroll;
}